{% if is_granted('ROLE_ADMIN') %}
<div class="wel">
    <div class="clearfix"><a href="#"></a></div>
</div>
{% endif %}

<ul class="navbar">
    <li><a href="{{ path('DefaultBundle_homepage') }}"><p class="navbar_item navbar_home">{{ 'xcm.menu-left.home' | trans }}</p></a></li>
    {#<li><a href="http://ovg.sarsport.ru/files/results.xls"><p class="navbar_item navbar_results">{{ 'xcm.menu-left.results' | trans }}</p></a></li>#}
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'reglament-xcm-2013'}) }}"><p class="navbar_item navbar_reglament">{{ 'xcm.menu-left.reglament' | trans }}</p></a></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'information-xcm-2013'}) }}"><p class="navbar_item navbar_information">{{ 'xcm.menu-left.information' | trans }}</p></a></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'faq-xcm-2013'}) }}"><p class="navbar_item navbar_forum">{{ 'xcm.menu-left.faq' | trans }}</p></a></li>
    <li><a href="{{ path('application_new') }}"><p class="navbar_item navbar_join">{{ 'xcm.menu-left.take_part' | trans }}</p></a></li>
    <li><a href="{{ path('interkassa_payment_new') }}"><p class="navbar_item navbar_pay">{{ 'xcm.menu-left.pay' | trans }}</p></a></li>
    <li><a href="{{ path('application_by_competition', {'competition': 'xcm-2013'}) }}"><p class="navbar_item navbar_members">{{ 'xcm.menu-left.players' | trans }}</p></a></li>
    <li><a href="{{ path('DefaultBundle_static_page', {'slug': 'results-xcm-2013'}) }}"><p class="navbar_item navbar_results">{{ 'xcm.menu-left.results' | trans }}</p></a></li>
</ul>
