{% extends "::base.html.twig" %}
{% block content %}
        <h3>Велофестиваль «МАТЧ ГОРОДОВ ПОВОЛЖЬЯ»</h3>
        <p>У подножия высочайшей по местным меркам горы, с юга совершенно почти белой от беловатого струйчатого песка и выходов мела, находится ущелье несколько необыкновенное по своим свойствам. Это небольшой разлом земной коры, в котором смещенные слои глины альбского века дали небольшую радоновую радиоактивность. Это место и было пересечением больших дорог, здесь северные пути встречались с южными, западные с восточными. Люди преклоняли здесь колени перед дальней дорогой, и на перекрестке своей судьбы. Именно сюда, в курортный городок Хвалынск, мы рады пригласить Вас на велофестиваль <strong>«МАТЧ ГОРОДОВ ПОВОЛЖЬЯ»</strong> при поддержке <strong>GIANT</strong>.</p>
        <p>Вас ждет кросс-кантрийная велогонка и двухдневный МТБ марафон, а так же незабываемые виды национального парка «Хвалынский», насыщенная сопутствующая программа с призами от спонсоров, комфортное размещение, открытый термальный бассейн, крафтовая пивоварня. Позволь себе отдых!</p>
        <p>Нетронутая природа Национального парка «Хвалынский», меловые горы (высоты до 380 метров), Волга (ширина 9 км.), город-курорт, удобное расположение (Саратов - 230км, Самара - 250км, Ульяновск — 230км., Пенза - 280км.), удобный подъезд и комфортное размещение. Место, в которое хочется вернуться!</p>
        <p><strong>Приезжайте, не пожелеете!</strong></p>

        <div class="clearfix">
	        <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image1.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
	        </div>

	        <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image2.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
	        </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image4.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image3.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image5.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image6.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image8.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image9.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>


            <div class="thumbnail span3">
                {% image '@DefaultBundle/Resources/public/images/race/2014/image7.jpg'%}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>
	    </div>

{% endblock %}
